<div class="w-full pt-10 px-32">
    <h1 class="mb-2 text-8xl text-center font-semibold text-main">Trello clone</h1>
    <h2 class="mb-10 text-xl text-center font-semibold text-main">Por Franco Pertusati</h2>
    <p class="mb-10 text-lg text-center">Hello, I welcome you to my trello clone made with Angular 17 and Angular CDK made for
        the purpose
        of practicing with these tools.</p>

    <div class="m-auto w-fit flex gap-2">
        <app-anchor [destiny]="'https://github.com/Franco-Pertusati/Trello-Clon.git'">
            <i class="bi bi-github"></i>
            <span>GitHub</span>
        </app-anchor>
        <app-anchor [destiny]="'/boards'">
            <i class="bi bi-arrow-right"></i>
            <span>Go to boards</span>
        </app-anchor>
    </div>
</div>