<div class="flex gap-8 text-fontent container">
    <div class="p-6">
        <div class="flex gap-4 text-xl font-bold mb-4">
            <i class="bi bi-archive-fill"></i>
            <h2>All Boards</h2>
        </div>
        <div class="flex gap-6">
            @for (board of boards; track $index) {
            <div class="w-64 h-36 bg-main rounded-lg p-2 cursor-pointer"
                (click)="setSelectedBoard(board.id); navigateToBoard(board.id)">
                <span class="text-lg text-seasalt font-semibold">{{board.name}}</span>
            </div>
            }
            @if (!isBoardBeingCreate) {
            <button (click)="isBoardBeingCreate = !isBoardBeingCreate"
                class="grid place-items-center justify-center w-64 h-36 bg-platinum rounded-lg p-2 font-semibold cursor-pointer hover:shadow-md">
                <div class="flex gap-2">
                    <i class="bi bi-plus-lg"></i>
                    <span>Create new board</span>
                </div>
            </button>
            } @else {
                <div class="flex flex-col gap-2 w-64 h-36 bg-platinum rounded-lg p-2 font-semibold cursor-pointer shadow-md">
                    <input (keydown.enter)="createBorad($event); isBoardBeingCreate = false;" type="text" class="rounded-md bg-seasalt">
                    <button class="p-2 px-4 rounded-md bg-main text-seasalt w-fit">Create</button>
                </div>
            }
        </div>
    </div>
</div>