<div class="flex">
    <app-sidebar />
    <div class="w-full flex flex-col">
        <div class="py-4 px-14 flex gap-6">
            <span class="text-4xl">Salones</span>
            <app-square-btn>Crear</app-square-btn>
            <!-- LISTA DE SALONES CREADOS AQUI EN EL NAV -->
        </div>
        <div class="pb-14 px-14 h-full">
            <div class="flex gap-6">
                <div    >
                    <app-square-btn>
                        Editar
                    </app-square-btn>
                </div>
                <span class="p-2">
                    Salon 1
                </span>
            </div>
            <div class="pt-6 pb-10 h-full">
                <div class="h-full border-2 border-french_gray rounded-md">

                </div>
            </div>
        </div>
    </div>
</div>