<div class="h-full text-seasalt shadow-lg">
    <div class="h-full flex flex-col gap-4 bg-onyx rounded-xl p-4 border border-borderColor transition-all" [ngClass]="{
        'w-72 px-8': isExpanded,
        'w-28': !isExpanded
      }">
        <app-sb-btn (click)="isExpanded = !isExpanded" [showText]="isExpanded" [btnIcon]="'bi bi-list'">
            Sistema
        </app-sb-btn>
        <app-sb-btn (click)="navigateTo('')" [showText]="isExpanded">
            Restaurant
        </app-sb-btn>
        <app-sb-btn (click)="navigateTo('sales')" [showText]="isExpanded">
            Sales
        </app-sb-btn>
        <app-sb-btn (click)="navigateTo('products')" [showText]="isExpanded">
            Inventory
        </app-sb-btn>
    </div>
</div>