<div class="py-8 px-4 flex gap-4 bg-main2 w-full h-full">
    @for (column of selectedBoard?.columns; track column; let i = $index;) {
    <div class="min-w-72 h-fit p-2 bg-platinum rounded-xl shadow-md">
        <span class="font-semibold pl-2">{{ column.title }}</span>
        <div class="my-6">
            <!-- Lista de todos -->
        </div>
        <button class="p-2 w-full flex gap-2 text-start rounded-lg hover:bg-seasalt">
            <i class="bi bi-plus-lg"></i>
            <span>Add a card</span>
        </button>
    </div>
    }
    @if (!isCreatingColumn) {
    <button (click)="isCreatingColumn = !isCreatingColumn"
        class="p-2 w-72 h-fit bg-platinum hover:bg-seasalt flex gap-2 text-start rounded-xl font-semibold shadow-md">
        <i class="bi bi-plus-lg"></i>
        <span>Add another column</span>
    </button>
    } @else {
    <div class="p-2 w-72 h-fit bg-platinum hover:bg-seasalt flex flex-col gap-2 text-start rounded-xl font-semibold shadow-md">
        <input type="text" class="rounded-md bg-seasalt" (keydown.enter)="addColumn($event)">
        <button class="p-2 px-4 rounded-md bg-main text-seasalt w-fit">Create</button>
    </div>
    }
</div>