<div class="h-full w-full bg-anti-flash_white rounded-xl p-8">
    <h2 class="mb-8 text-6xl font-semibold">Inventory</h2>
    <div class="flex gap-8 w-full">
        <div class=" w-full flex gap-8">
            <div class="groupsCard bg-seasalt rounded-xl shadow-md p-4 mb-4">
                <h3 class="text-4xl font-medium mb-4">Pintas</h3>
                <div class="flex flex-col border-t border-borderColor mb-4">
                    <div class="flex gap-10 text-xl py-2 border-b border-borderColor">
                        <span>Golden</span>
                        <span>Price: $3300</span>
                        <span>Cost: $1200</span>
                        <button>
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                    </div>
                </div>
                <app-btn>
                    <i class="bi bi-plus-lg"></i>
                    <span>New product</span>
                </app-btn>
            </div>
            <button class="bg-seasalt rounded-xl shadow-md p-4 h-fit flex gap-4 text-xl font-medium">
                <i class="bi bi-plus-lg"></i>
                <span>Add new category</span> 
            </button>
        </div>
    </div>
</div>