<div class="h-full pl-4 py-4 flex bg-anti-flash_white">
    <div class="w-24 h-full py-2 bg-seasalt my-auto rounded-xl shadow-md flex flex-col gap-2 font-bold">
        <button class="font-semibold rounded-xl h-20 mx-2 hover:bg-mainColor" (click)="isExpanded = !isExpanded"><i
                class="bi bi-list text-4xl"></i></button>
        <app-square-btn>
            <i class="bi bi-columns-gap text-4xl"></i>
        </app-square-btn>
        <app-square-btn>
            <i class="bi bi-receipt text-4xl"></i>
        </app-square-btn>
        <app-square-btn>
            <i class="bi bi-people text-4xl"></i>
        </app-square-btn>
        <app-square-btn>
            <i class="bi bi-cart text-4xl"></i>
        </app-square-btn>
        <app-square-btn>
            <i class="bi bi-archive text-4xl"></i>
        </app-square-btn>
        <app-square-btn>
            <i class="bi bi-star text-4xl"></i>
        </app-square-btn>
    </div>
</div>