<div class="w-64 h-screen bg--flash_white p-4 rounded-tr-lg rounded-br-lg shadow-lg flex-col">
    <h2>System</h2>
    <div class="flex flex-col gap-1 font-bold">
        <app-list-btn>
            Salones
        </app-list-btn>
        <app-list-btn>
            Ventas
        </app-list-btn>
        <app-list-btn>
            Caja
        </app-list-btn>
        <app-list-btn>
            Stock
        </app-list-btn>
        <app-list-btn>
            Productos
        </app-list-btn>
        <app-list-btn>
            Turnos
        </app-list-btn>
        <app-list-btn>
            Estadisticas
        </app-list-btn>
    </div>
</div>